<div class="d-flex bg-primary justify-content-end mb-3 p-3 position-relative">
    <h5 class="mb-0 position-absolute text-white" style="left: 50%; top: 50%; transform: translate(-50%, -50%)">Session Manager</h5>
    <button class="btn btn-primary" (click)="sessionNew()" title="New Session"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>

<div class="alert alert-danger" *ngIf="storageFull">
    You've surpassed your storage quota 😢<br/>
    Please delete one of your sessions in order to prevent any syncing issues.
</div>

<div class="container mb-5 pb-3">
    <h5>Open Sessions ({{ sessionsOpen?.length }})</h5>
    <ng-container *ngFor="let session of sessionsOpen"
                  [ngTemplateOutlet]="templateSession"
                  [ngTemplateOutletContext]="session"></ng-container>

    <div class="mb-3"></div>
    <h5>Closed Sessions ({{ sessionsClosed?.length }})</h5>
    <ng-container *ngFor="let session of sessionsClosed; let i = index"
                  [ngTemplateOutlet]="templateSession"
                  [ngTemplateOutletContext]="{ id: session.id }"></ng-container>
</div>

<div class="d-flex justify-content-center position-fixed fixed-bottom mb-3 w-100">
    <a href="https://www.paypal.me/rjgtav" target="_blank">
        <button class="btn btn-primary"><fa-icon [icon]="faDonate"></fa-icon>&nbsp;Donate</button>
    </a>
</div>

<ng-template let-id="id" #templateSession>
    <div class="card mb-2 shadow-sm" *ngIf="sessionById(id) as session"
         [ngClass]="{ 'border-primary': session.window == window }">
        <div class="card-body d-flex p-2">
            <div class="d-flex flex-grow-1" *ngIf="!session.isEditing">
                <div class="d-flex flex-column flex-grow-1">
                    <div>{{ session.name }}</div>
                    <div class="text-muted">{{ session.tabs.length }} Tabs</div>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <app-session-list-button [icon]="faPencilAlt" color="warning" title="Rename"
                                             (click)="sessionEdit(session)"></app-session-list-button>
                    <app-session-list-button [icon]="faExternalLinkAlt" color="info" title="Open"
                                             (click)="sessionOpen(session)" *ngIf="!session.isOpen"></app-session-list-button>
                    <app-session-list-button [icon]="faTimes" color="primary" title="Close"
                                             (click)="sessionClose(session)" *ngIf="session.isOpen"></app-session-list-button>
                    <app-session-list-button [icon]="faRandom" color="info" title="Switch to"
                                             (click)="sessionSwitch(session)" *ngIf="!session.isOpen"></app-session-list-button>
                    <app-session-list-button [icon]="faTrashAlt" color="danger" title="Delete"
                                             (click)="sessionRemove(session)" *ngIf="session.window == undefined"></app-session-list-button>
                </div>
            </div>
            <div class="d-flex flex-grow-1 align-items-center" *ngIf="session.isEditing">
                <div class="d-flex flex-column w-50">
                    <input class="form-control" type="text" [ngModel]="session.name" #inputElement>
                </div>
                <div class="d-flex flex-grow-1 align-items-center justify-content-end">
                    <app-session-list-button [icon]="faBan" color="primary" title="Cancel"
                                             (click)="sessionEditCancel(session)"></app-session-list-button>
                    <app-session-list-button [icon]="faCheck" color="primary" title="Save"
                                             (click)="sessionEditFinish(session, inputElement.value)"></app-session-list-button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
